<div style="background-color: #f7d9c4; padding: 20px; font-family: 'Courier New', Courier, monospace; color: #8b4513">
  <div style="text-align: center">
    <pre style="font-size: 24px">
          _.-""""""-._
        .'          '.
       /   O      O   \
      :           `    :
      |                |
      :    .------.    :
       \  '        '  /
        '.          .'
          '-......-'
    </pre>
    <h1>Welcome to Bacon Ipsum Generator!</h1>
    <p style="font-size: 18px">Your source for delicious filler text. Fill your website with savory bacon goodness!</p>
  </div>

  <div style="margin: 30px 0; background-color: #fff5e6; padding: 20px; border-radius: 8px">
    <h2 style="color: #d04a02">Welcome, Bacon Hipster! (Task Ipsum Manager)</h2>

    <p style="font-size: 16px">This is your homepage</p>

    <div>
      @if (account() !== null) {
        <div style="background-color: #e37400; color: #ffffff; padding: 10px; border-radius: 5px">
          @if (account()) {
            <span id="home-logged-message" style="font-size: 16px"
              >You are logged in as crispy user &quot;{{ account()!.login }}&quot;.</span
            >
          }
        </div>
      } @else {
        <div style="background-color: #ffad33; color: #333; padding: 10px; border-radius: 5px">
          <span>If you want to </span>
          <a class="alert-link" (click)="login()" style="color: #d04a02; text-decoration: underline">sign in</a>
          <span
            >, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;) <br />- User
            (login=&quot;user&quot; and password=&quot;user&quot;).</span
          >
        </div>

        <div style="background-color: #ffad33; color: #333; padding: 10px; border-radius: 5px">
          <span>No account yet?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register" style="color: #d04a02; text-decoration: underline"
            >Register for some bacon</a
          >
        </div>
      }
    </div>
  </div>

  <div style="background-color: #fff2e6; padding: 20px; border-radius: 8px">
    <p>If you have any question on JHipster:</p>
    <ul>
      <li><a href="https://www.jhipster.tech/" target="_blank" style="color: #8b4513; text-decoration: underline">JHipster homepage</a></li>
      <li>
        <a href="https://stackoverflow.com/tags/jhipster/info" target="_blank" style="color: #8b4513; text-decoration: underline"
          >JHipster on Stack Overflow</a
        >
      </li>
      <li>
        <a
          href="https://github.com/jhipster/generator-jhipster/issues?state=open"
          target="_blank"
          style="color: #8b4513; text-decoration: underline"
          >JHipster bug tracker</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" style="color: #8b4513; text-decoration: underline"
          >JHipster public chat room</a
        >
      </li>
      <li>
        <a href="https://twitter.com/jhipster" target="_blank" style="color: #8b4513; text-decoration: underline"
          >follow &#64;jhipster on Twitter</a
        >
      </li>
    </ul>

    <p>
      If you like JHipster, don't forget to give us a star on
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" style="color: #8b4513; text-decoration: underline">GitHub</a
      >!
    </p>
  </div>

  <div style="text-align: center; margin: 40px 0">
    <pre style="font-size: 18px; color: #d04a02">
               ____________
         .----'            '----.
        //                    \\
       //     BACON POWER      \\
       ||    ______________    ||
       ||   |              |   ||
       ||   |  ||  ||  ||  |   ||
       ||   |______________|   ||
       ||                    ||
        \\                  //
         \\________________//
          '----------------'
    </pre>
  </div>

  <p style="text-align: center; font-size: 14px; color: #8b4513">Powered by Bacon Ipsum</p>
</div>
