.bacon-background {
  background-color: #ffebcd;
}

.bacon-navbar {
  background-color: #f5a623;
  border-bottom: 4px solid #d35400;
}

.bacon-jumbotron {
  background-image: url('content/images/bacon-background.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}
